
.icon-pencil:before { content: '\e800'; } /* '' */
.icon-picture:before { content: '\e801'; } /* '' */
.icon-pencil-1:before { content: '\e802'; } /* '' */
.icon-trash:before { content: '\e803'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-eraser:before { content: '\f12d'; } /* '' */
.icon-db-shape:before { content: '\f600'; } /* '' */