#lienzo {
  display: block;
}
.paint {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.paint canvas {
  background: rgba(255,255,255,0.43);
  border: solid 1px;
  cursor: crosshair;
}
.paint .herramientas {
  width: 451px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0,0,0,0.68);
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.paint .herramientas a {
  padding: 5px;
  background: #000;
  border-radius: 5px;
  color: #fff;
  margin: 0 5px;
}
.paint .herramientas a:hover {
  background: #555;
}
.paint .herramientas input {
  height: 18px;
  width: 32px;
  margin: 0 5px;
}
.paint .herramientas input:focus,
.paint .herramientas textarea:focus {
  border: 1px solid #555;
  -webkit-box-shadow: 0 0 3px #aaa;
  box-shadow: 0 0 3px #aaa;
  padding-right: 12px;
}
.paint .herramientas input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 40px;
  height: 28px;
  padding: 2px;
}
